In [53]:
import pandas as pd
import numpy as np

La funci√≥n .fillna() rellena los datos nulos de un data frame

In [54]:
col1 = [1, np.nan, 2, 70]
col2 = [4, 5, 9, 5]
col3 = [7, 4, 8, 4]
df = {'Col1': col1, 'Col2': col2, 'col3': col3}
df_pd = pd.DataFrame(df)
df_pd

   Col1  Col2  col3
0   1.0     4     7
1   NaN     5     4
2   2.0     9     8
3  70.0     5     4

In [55]:
df_pd.isnull()*1

   Col1  Col2  col3
0     0     0     0
1     1     0     0
2     0     0     0
3     0     0     0

In [56]:
df_pd.fillna('Sin datos')

        Col1  Col2  col3
0        1.0     4     7
1  Sin datos     5     4
2        2.0     9     8
3       70.0     5     4

In [57]:
df_pd.fillna(np.nan)

   Col1  Col2  col3
0   1.0     4     7
1   NaN     5     4
2   2.0     9     8
3  70.0     5     4

In [60]:
df_pd.fillna(df_pd.mean())

        Col1  Col2  col3
0   1.000000     4     7
1  24.333333     5     4
2   2.000000     9     8
3  70.000000     5     4

In [59]:
df_pd.interpolate()

   Col1  Col2  col3
0   1.0     4     7
1   1.5     5     4
2   2.0     9     8
3  70.0     5     4

La funci√≥n .dropna() elimina las filas que tengan datos nulos

In [58]:
df_pd.dropna()

   Col1  Col2  col3
0   1.0     4     7
2   2.0     9     8
3  70.0     5     4