In [1]:
import pandas as pd

## Series
Los pandas series requieren los índices de los elementos. Si no se declaran manualmente se crean por defecto empezando desde 0

In [2]:
pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [3]:
pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'], index=[1,7,10,30])

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

Una serie de pandas también admite diccionarios, siendo la llave el índice y el valor el elemento

In [4]:
dict = {1:'Navas', 7:'Mbappe', 10:'Neymar', 30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

## DataFrames
Los dataframes manejan matrices mediante diccionarios. Si no se especifican los índices se generan automáticamente empezando desde 0

In [5]:
players = {'Jugadores': ['Navas', 'Mbappe', 'Neymar', 'Messi'], 'Altura': [170.0, 180.0, 190.0, 160.0], 'Goles': [20,21,10,100]}
psg_players = pd.DataFrame(players, index=[1,7,10,30])

Permiten la búsqueda por columnas

In [6]:
psg_players.columns

Index(['Jugadores', 'Altura', 'Goles'], dtype='object')

Permiten la búsqueda por índices

In [7]:
psg_players.index

Int64Index([1, 7, 10, 30], dtype='int64')

Permiten slicing

In [8]:
psg_players[1:3]

   Jugadores  Altura  Goles
7     Mbappe   180.0     21
10    Neymar   190.0     10

## Challenge
Crear un dataframe con los datos del Granada F.C y filtrar los jugadores con más de 4 goles y que sean delanteros

In [9]:
jugadores = ['Luis Suárez','Jorge Molina', 'Antonio Puertas', 'Germán Sánnchez', 'Luis Milla', 'Luís Manuel Arantes Maximiano']
posicion = ['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero']
numero = [9, 23, 10, 6, 5, 1]
altura = [185.0, 187.0, 185.0, 187.0, 175.0, 190.0]
goles = [7, 7, 5, 2, 2, 0]
granadafc = {'Jugadores': jugadores, 'Posicion': posicion, 'Altura': altura, 'Goles': goles}

granadafcdf = pd.DataFrame(granadafc, index=numero)
granadafcdf

                        Jugadores        Posicion  Altura  Goles
9                     Luis Suárez       Delantero   185.0      7
23                   Jorge Molina       Delantero   187.0      7
10                Antonio Puertas  Centrocampista   185.0      5
6                 Germán Sánnchez         Defensa   187.0      2
5                      Luis Milla  Centrocampista   175.0      2
1   Luís Manuel Arantes Maximiano         Portero   190.0      0

In [10]:
granadafcdf[(granadafcdf.Goles > 4) & (granadafcdf.Posicion == 'Delantero')]

       Jugadores   Posicion  Altura  Goles
9    Luis Suárez  Delantero   185.0      7
23  Jorge Molina  Delantero   187.0      7

In [18]:
granadafcdf[['Goles', 'Altura']]

    Goles  Altura
9       7   185.0
23      7   187.0
10      5   185.0
6       2   187.0
5       2   175.0
1       0   190.0